.bg {
    width: 100%;
    height: 100%;
}

.bg-modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333;
    opacity: 0.2;
}

.date-show {
    margin-bottom: 20px;
    text {
        color: #38c6aa;
    }
    .day {
        font-weight: 500;
        font-size: 88px;
    }
    .month {
        font-size: 48px;
        margin-left: 15px;
    }
    .year {
        font-size: 48px;
        margin-left: 15px;
    }
}

.quote {
    position: absolute;
    bottom: 180px;
    padding: 0 32px 60px 32px;
    .content {
        display: block;
        color: #fff;
        font-size: 36px;
    }
    .trans {
        display: block;
        color: #fff;
        margin-top: 20px;
        font-size: 32px;
    }
    .author {
        display: block;
        color: #fff;
        margin-top: 20px;
        text-align: right;
    }
}

.down {
    position: fixed;
    top: 32px;
    right: 212px;
    height: 38px;
    width: 38px;
}

.share {
    position: fixed;
    top: 32px;
    right: 22px;
    height: 38px;
    width: 38px;
}

.link {
    position: fixed;
    top: 28px;
    right: 80px;
    height: 42px;
    width: 42px;
}

.copy {
    position: fixed;
    top: 32px;
    right: 150px;
    height: 36px;
    width: 36px;
}

button::after {
    border: none;
}

button {
    background-color: transparent;
}

.loading {
    display: block;
    width: 100px;
    text-align: center;
    margin: 5px auto;
}

.operate {
    position: fixed;
    bottom: 50px;
    left: 35%;
    .at-button {
        display: inline-block;
    }
    .at-button--secondary{
        background-color: transparent!important;
        color: #38c6aa;
        border-color: #38c6aa!important;
    }
    .right {
        margin-left: 50px;
    }
}